/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    *{
        border: 1px dashed red;
        color:white;;
    }
}
:root{
    --bg_sidebar: #000000;
    --bg_upg_btn_container:#080b12;
    --bg_main_container:#141922;
    --bg_media_player:#282828;
}
/* UTILS */
.d_flex{
    display: flex;
}
/*#region columns*/
.col_1 {
    width: calc(100% / 12 * 1);
}
.col_2 {
    width: calc(100% / 12 * 2);
}
.col_3 {
    width: calc(100% / 12 * 3);
}
.col_4 {
    width: calc(100% / 12 * 4);
}
.col_5 {
    width: calc(100% / 12 * 5);
}
.col_6 {
    width: calc(100% / 12 * 6);
}
.col_7 {
    width: calc(100% / 12 * 7);
}
.col_8 {
    width: calc(100% / 12 * 8);
}
.col_9 {
    width: calc(100% / 12 * 9);
}
.col_10 {
    width: calc(100% / 12 * 10);
}
.col_11 {
    width: calc(100% / 12 * 11);
}
.col_12 {
    width: calc(100% / 12 * 12);
}

/*#endregion columns*/

/* GENERALS */

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
    .top{
        height: calc(100% - 70px);
        display: flex;
        .sidebar{
            height: 100%;
            width: 230px;
            background-color: var(--bg_sidebar);
            overflow: hidden;

            /* *LOGO */
            .logo{
                height: 70px;             
                transform: scale(0.6);
                
                
                
                
                
            }
            .navbar{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .navbar_top{
                    .navbar_menu{
                        padding: 15px 0px;
                        a{
                            text-decoration: none;
                        }
                        
                        
                        .navbar_menu_list{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            list-style-type: none;
                            li{
                                padding: 5px 10px;
                                border-left: 2px solid transparent;
                            }                                
                        }
                    }
                    .navbar_playlist{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        .navbar_playlist_title{
                            padding: 10px;
                            text-transform: uppercase;
                            font-weight: 600;
                            padding: 0px 10px;
                            color: white;   
                        }
                        .navbar_playlist_list{
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            li{
                                span{
                                    color: var(--bg_sidebar);
                                }
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                padding: 0px 10px;
                                color: gray;
    
                                
                                .btn_add_playlist{
                                    width: 3rem;
                                    height: 3rem;
                                    background-color: gray;
                                    font-size: 3rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                
                            }
                        }
    
                    }
                }
                .navbar_bottom{

                }

            }

        }
        .main_container{
            width: calc(100% - 230px);
            height: 100%;
            background-color: green;
            overflow-y: auto;

            
            .upgrade_btn_container{
                width: 100%;
                height: 70px    ;
                background-color: gray;
                position: sticky;
                top: 0;
            }
            .main_section{
                
            }
        }
    }
    
    .bottom{
        height: 70px;
        background-color: blue;
        

        
        
    }
}



