/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    *{
        border: 1px dashed red;
        
    }
}
:root{
    --bg_sidebar: #000000;
    --bg_upg_btn_container:#080b12;
    --bg_main_container:#141922;
    --bg_media_player:#282828;
}
/* UTILS */
.container{
    width: 98%;
    margin: 0 auto;
}

.d_flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/*#region columns*/
.col_1 {
    width: calc(100% / 12 * 1);
}
.col_2 {
    width: calc(100% / 12 * 2);
}
.col_3 {
    width: calc(100% / 12 * 3);
}
.col_4 {
    width: calc(100% / 12 * 4);
}
.col_5 {
    width: calc(100% / 12 * 5);
}
.col_6 {
    width: calc(100% / 12 * 6);
}
.col_7 {
    width: calc(100% / 12 * 7);
}
.col_8 {
    width: calc(100% / 12 * 8);
}
.col_9 {
    width: calc(100% / 12 * 9);
}
.col_10 {
    width: calc(100% / 12 * 10);
}
.col_11 {
    width: calc(100% / 12 * 11);
}
.col_12 {
    width: calc(100% / 12 * 12);
}

/*#endregion columns*/

/* GENERALS */

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.subtitle{
    color: gray;
    font-size: 1rem;
}

/* !MAIN SECTION */
    .main_navbar_menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    .selected{
        border-bottom: 2px solid green;       
    }
    a{
        text-decoration: none;
        color: gray;

        
    }
}
.music_section{
display: flex;
flex-direction: column;
gap: 20px;
}          
.music_section_title{
    padding-bottom: 10px;
    color: white;
}
/* CARD */
.music_card{
display: flex;
flex-direction: column;
align-content: center;
padding: 10px 10px 10px 0;
}

.card_caption{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .music_title{
        color: white;
    }                           
} 

.artist_card{
    img{
        border-radius: 50%;  
    }
}

.navbar{
    display: flex;
    flex-direction: column;              
    justify-content: space-between;
}

.user{
    color: white;
    display: flex;
    padding: 10px 0;
    flex-direction: row;
    span{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: gray;
        position: relative;
        img{      
            height: 80%;   
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            
        }
    }
}

.user_name{
    font-size: 0,9 rem;
    padding: 5px;
}

.fa-circle-user{
    padding: 5px;
    transform: scale(1,1);
}

.navbar_install{
    padding: 5px;
    font-size: o,9;
}

.fa-circle-down{
    padding: 5px;
}

.main_navbar_menu_container{
    padding: 10px;
}

.upgrade_btn_container{
    padding-right: 10px;
    a{
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 5px 15px;
        border-radius: 1rem;
    }
}

.selected{
    color: white;   
    
} 

.not_selected{
    color: gray;
}

.navbar_menu_icon{
    color: gray;
    padding-right: 5px;
    line-height: 15px;
    img{
        width: 20px;
        vertical-align: center;
    }
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .bottom{
        height: 70px;
        background-color: var(--bg_media_player);     
    }


    .top{
        height: calc(100% - 70px);
        display: flex;
        .sidebar{
            height: 100%;
            width: 230px;
            background-color: var(--bg_sidebar);
            overflow: hidden;         

            /* *LOGO */
            .logo{
                height: 70px;             
                transform: scale(0.6);    
            }
                
                .navbar_top{
                    .navbar_menu{
                        
                        padding: 15px 0px;
                        a{
                            text-decoration: none;
                        }
                        
                        
                        .navbar_menu_list{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            list-style-type: none;
                            
                            .selected{
                                border-left: 2px solid green;
                            }
                                                    
                            li{
                                padding: 5px 10px;
                                border-left: 2px solid transparent;
                                a{
                                    color: white;
                                }                               
                            }                                
                        }
                    }
                    .navbar_playlist{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        .navbar_playlist_title{
                            padding: 10px;
                            text-transform: uppercase;
                            font-weight: 600;
                            padding: 0px 10px;
                            color: white;   
                        }
                        .navbar_playlist_list{
                            display: flex;
                            flex-direction: column;
                            gap: 10px; 
                            li{
                                span{
                                    color: var(--bg_sidebar);
                                }
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                padding: 0px 10px;
                                color: gray;
    
                                
                                .btn_add_playlist{
                                    width: 3rem;
                                    height: 3rem;
                                    background-color: gray;
                                    font-size: 3rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                
                            }
                        }
    
                    }
                }
                .navbar_bottom{
                    
                    padding: 10px;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                }

            }

        }
        .main_container{
            width: calc(100% - 230px);
            height: 100%;
            background-color: var(--bg_main_container);
            overflow-y: auto;

            
            .upgrade_btn_container{
                width: 100%;
                height: 70px    ;
                background-color: var(--bg_upg_btn_container);
                position: sticky;
                top: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            
        }
    }
    
.bottom{
    color: white;
    
}

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;
}

.stato_canzone{
    display: flex;
    gap: 10px;
}

.song{
    display: flex;
    width: 250px;
    align-items: center;
}

.volume{
    display: flex;
    width: 80px;
    align-items: center;
}

.media_control{
    display: flex;
    gap: 10px;
    font-size: 0.7rem;
}

.remaning_song, .volume_used{
    width: 20%;
    height: 0;
    border: 2px solid white;
    border-radius: 30px;
    
}

.played_song, .volume_remaning{
    border-radius: 30px;
    width: 80%;
    border: 2px solid gray;
}

.time{
    font-size: 0.6rem;
    font-weight: 600;
}

.music{
    display: flex;
    img{
        width: 40px;
    };
}

.music_icons{
    display: flex;
    align-items: center;
    padding-left: 3rem;
    gap: 5px;
    color: gray;
}

.fa-circle-play{
    font-size: 2rem;
}

.play_pause{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player_music_title{
    padding-left: 5px;
    font-size: 0.8rem;
    vertical-align: center;
    .title{
        font-size: 1rem;
    }
    .subtitle{
        font-size: 0.8rem;
    }
}

/******************** TABLET *********************/

@media screen and (min-width:868px) {
    /* UTILS */
    /*#region columns*/
    .col_md_1 {
        width: calc(100% / 12 * 1);
    }
    .col_md_2 {
        width: calc(100% / 12 * 2);
    }
    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
    .col_md_4 {
        width: calc(100% / 12 * 4);
    }
    .col_md_5 {
        width: calc(100% / 12 * 5);
    }
    .col_md_6 {
        width: calc(100% / 12 * 6);
    }
    .col_md_7 {
        width: calc(100% / 12 * 7);
    }
    .col_md_8 {
        width: calc(100% / 12 * 8);
    }
    .col_md_9 {
        width: calc(100% / 12 * 9);
    }
    .col_md_10 {
        width: calc(100% / 12 * 10);
    }
    .col_md_11 {
        width: calc(100% / 12 * 11);
    }
    .col_md_12 {
        width: calc(100% / 12 * 12);
    }

    /*#endregion columns*/
}